.card-title{
    height: 60px;
    overflow: hidden;
    font-size:18px;
   
}
.card-text{
    height: 95px;
    overflow: hidden;
    font-size:16px;
}
.card{
    margin-top: 10px;
    height: 450px;
    margin-bottom: 5px;
}
.source{
    font-size: 13px;
}

/* footer */

footer{
    margin-top: 2px;
    }
    .footer h3{
      text-align: center;
      color: white;
    }
    .footer1{
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    
    }
    .footer1 a{
      text-decoration: none;
      color: white;
    }
    .footer1,li{
      text-decoration: none;
      padding: 10px;
      list-style :none ;
      text-align: center;
    }
    